<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana Plácito</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <!--Favicon-->
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
</head>
<body>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="foto da Mariana">
            <h1>Mariana Plácito</h1>
            <div>
                <a href="https://github.com/Placito"></a>
                <a href="https://www.linkedin.com/in/placito/"></a>
                <a href="https://www.instagram.com/mplacito/"></a>
            </div>
        </section>
    </aside>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>