<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000">
    <meta name="description" content="Author: M.P. Author, my portfolio is a landing page with 6 sections">
    <title>Mariana Plácido</title>
    <link rel="canonical" href="{{ g.current_url }}">

    <!-- Preload Bootstrap Icons CSS -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Manifest -->
    <link href="{{ url_for('static', filename='manifest.json') }}" rel="manifest" crossorigin="use-credentials">
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header" class="header">
        <section class="profile">
            <img src="../static/img/perfil.avif" alt="picture of Mariana" width="300" height="auto" loading="lazy">
            <h1>Mariana Plácito</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://github.com/Placito" aria-label="Read more about Mariana in GitHub Profile"  target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/placito/" aria-label="Read more about Mariana in linkedin Profile" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/mplacito/" aria-label="Read more about Mariana in Instagram Profile" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id="nvbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a id="nav-home" class="nav-link active" aria-label="Go to home page" aria-current="page" href="#home"><i class="bi bi-house"></i> <span> {{ _('Home') }}</span></a>
                </li>
                <li class="nav-item">
                <a id="nav-about" class="nav-link" aria-label="Go to about page" href="#about"><i class="bi bi-person"></i> <span> {{ _('About') }}</span></a>
                </li>
                <li class="nav-item">
                <a id="nav-skills" class="nav-link" aria-label="Go to skills page" href="#skills"><i class="bi bi-list-check"></i> <span>{{ _('Skills') }}</span></a>
                </li>
                <li class="nav-item">
                    <a id="nav-curriculum" class="nav-link" aria-label="Go to curriculum page" href="#curriculum"><i class="bi bi-file-earmark"></i> <span> {{ _('Curriculum') }}</span></a>
                </li>
                <li class="nav-item">
                    <a id="nav-portfolio" class="nav-link" aria-label="Go to portfolio page" href="#portfolio"><i class="bi bi-collection"></i> <span>  {{ _('Portfolio') }}</span></a>
                </li>
                <li class="nav-item">
                    <a id="nav-contact" class="nav-link" aria-label="Go to contact page" href="#contact"><i class="bi bi-envelope"></i> <span>  {{ _('Contact') }}</span></a>
                </li>
            </ul>
            <br/>
            <select class="form-select" name="language" aria-label="form-select-sm">
                <option value="" selected>{{ _('Select one language') }}</option>
                <option value="en">{{ _('English') }}</option>
                <option value="pt">{{ _('Portuguese') }}</option>
            </select>   
            <br/>
            <button id="subscribe" class="btn btn-outline-light subscribe" type="button">{{ _('Subscribe') }}</button>
            <div class="message">
                {{ _('By clicking this button you are allowing us to send you notifications from this website.') }}
            </div>     
        </nav>
        <footer id="footer" >
            <div class="text-center">
                <div class="copy">
                    &copy; 2024 <strong>M. Plácito</strong>
                </div>
                <div class="terms">
                    <a href="../privacy_policy.html" aria-label="Find more about Privacy Policy" onclick="setLanguage(event)">{{ _('Privacy Policy') }}</a> | 
                    <a href="../terms.html" aria-label="Find more about Terms of service" onclick="setLanguage(event)">{{ _('Terms of Service') }}</a>
                </div>
            </div>
        </footer>
    </aside>
    <main class="main">
        <section id="home" class="row home m-0 p-0">
            <div class=" d-flex justify-content-center align-start flex-column">
                <h2 class="text-shadow">Mariana Plácito</h2>
                <span id="subtitle" class="text-shadow">{{ _('Full Stack Developer') }}</span>
            </div>
        </section>
        <section id="about" class="container mt-5 about">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 id="about-title" class="pt-3">{{ _('About') }}</h2>
                    <p id="about-description">
                        {{ _('Proactive Full Stack Developer. I started my journey with a degree in Human Biology, which later led me to discover my new abilities with a Design course, which sparked a passion for me in the programming field. I have a natural aptitude for the front-end but a passion for discovering how things work behind the scenes, which led me to combine these two areas.') }}
                    </p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" data-anime="left" src="../static/img/perfil.avif" alt="foto da Mariana" width="300" height="auto" loading="lazy">
                    </div>
                    <div class="col-md-8" data-anime="right">
                        <h3>{{ _('Full Stack Developer') }}</h3>
                        <p>{{ _('Is an entry-level position in the field of software development, responsible for working on both the front-end and back-end portions of web applications.') }}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>{{ _('Date of birth:') }}</strong><span>{{ _(' December 24, 1989') }}</span></li>
                                    <li class="list-group-item"><strong>{{ _('Age:') }}</strong> 34</li>
                                    <li class="list-group-item"><strong>{{ _('City:') }}</strong> Leiria</li>
                                    <li class="list-group-item"><strong>{{ _('Country:') }}</strong><span>{{ _(' Portugal') }}</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>{{ _('Hobby:') }}</strong><span>{{ _(' Hiking') }}</span></li>
                                    <li class="list-group-item"><strong>{{ _('Work:') }}</strong><a href="https://launch-it.eu/en/" target="_blank" class="text-decoration-none link-dark"> Launch-IT</a></li>
                                    <li class="list-group-item"><strong>{{ _('Experience:') }}</strong><span>{{ _(' Junior') }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div id="download" class="d-flex mt-4">
                            <p>{{ _('Download my CV') }}</p>
                            <a class="file" href="{{ url_for('cv_file') }}" aria-label="Download my CV"><i class="bi bi-file-earmark-pdf"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 section-bg" id="skills">
            <div class="container pb-5">
                <h2 id="skills-title" class="pt-5">{{ _('Skills') }}</h2>
                <p id="skills-description">{{ _('Throughout my time as a professional I have acquired some technical and soft skills, most of them are here, according to the percentage of knowledge I believe I have in each of them.') }}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" id="albHTML" aria-label="HTML" aria-labelledby="labelHTML" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" id="albCSS" aria-label="CSS" aria-labelledby="labelCSS" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" id="albBootstrap" aria-label="Bootstrap" aria-labelledby="labelBootstrap" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" id="albJavascript" aria-label="JavaScript" aria-labelledby="labelJavascript" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" id="albGit" aria-label="Git" aria-labelledby="labelGit" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">React</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albReact" aria-label="React" aria-labelledby="labelReact" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="left" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albPython" aria-label="Python" aria-labelledby="labelPython" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-anime="left" style="width: 80%">80%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albFlask" aria-label="Flask" aria-labelledby="labelFlask" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">API's</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albAPIs" aria-label="APIs" aria-labelledby="labelAPIs" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Design</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albDesign" aria-label="Design" aria-labelledby="labelDesign" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Figma</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albFigma" aria-label="Figma" aria-labelledby="labelFigma" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Node</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albNode" aria-label="Node" aria-labelledby="labelNode" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">SQLAlchemy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"  id="albSQAlchemy" aria-label="SQLAlchemy" aria-labelledby="labelSQLAlchemy" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">{{ _('Communication') }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" id="albCommunication" aria-label="Communication" aria-labelledby="labelCommunication" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-anime="right" style="width: 90%">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 cv" id="curriculum">
            <div class="container pb-5">
                <h2 id="curriculum-title" class="pt-3 pb-4">{{ _('Curriculum') }}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">{{ _('Education') }}</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Full-Stack Software Developer') }}</h4>
                            <h5>05/2023 - 11/2023</h5>
                            <p><em>{{ _('Online, Spain') }}</em></p>
                            <p>{{ _('Hands-on program to become a Full-Stack Software Developer, focusing on mastering both frontend and backend technologies.') }}</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Development of multimedia products') }}</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Novotecna</em> - Leiria, Portugal</p>
                            <p>{{ _('Specialized in multimedia product development, gaining practical skills in the latest digital design and media production technologies.') }}</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Degree in Human Biology') }}</h5>
                            <h5>2009 - 2014</h5>
                            <p><em>{{ _('Évora University') }}</em>, Portugal</p>
                            <p>{{ _('Completed a comprehensive study in Human Biology, acquiring a strong foundation in biological sciences and their application to human health and disease.') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">{{ _('Professional') }}</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Full-Stack Developer') }}</h4>
                            <h5>{{ _('The moment') }}</h5>
                            <p><em>Launch-IT</em>, Portugal</p>
                            <p>{{ _('Develop user-friendly web interfaces using HTML, CSS, and JavaScript. Participate in code reviews and provide constructive feedback. Troubleshoot, debug, and resolve issues in both frontend and backend components.') }}</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Graphic designer') }}</h5>
                            <h5>2022 - 2023</h5>
                            <p><em>Leiria, Portugal</em></p>
                            <p>{{ _('Assisting in the management of the company\'s website development, like, taking photographs and designing them, updating its content in the website\'s admin dashboard, and reporting problems that would appear.') }}</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>{{ _('Digital animation intern') }}</h4>
                            <h5>12/2021 - 03/2022</h5>
                            <p><em>Online, Coimbra</em> - Portugal</p>
                            <p>{{ _('Role as creator of content, animations, web design and learning') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 id="portfolio-title" class="pb-4">{{ _('Portfolio') }}</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-square">
                                            <img data-src="../static/img/bike.avif" class="card-img-top lazyload" alt="Bicycle_Shop" width="300" height="auto">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">Bicycle_Shop</h3>
                                            <p id="portfolio-description" class="card-text">{{ _('Develop during a programming bootcamp, an e-commerce platform where users can browse, review, purchase.') }}</p>
                                            <br />
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.loom.com/share/503bdcc13c794507b1e620c55ffeb0bf?sid=84479cf0-ca42-412c-8014-9b17d7736ee9" target="_blank" aria-label="Find more about the project" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/Placito/Bycicle_shop" target="_blank" aria-label="Find more about the repo project on github" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-square">
                                            <img data-src="../static/img/gest.avif" class="card-img-top lazyload" alt="GEST_tasks" width="300" height="auto">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">GEST_tasks</h3>
                                            <p class="card-text">{{ _('Is an application to assist in task management, for internal roles.') }}</p>
                                            <br />
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Placito/GEST_tasks" target="_blank" aria-label="Find more about the repo project on github" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-square">
                                            <img data-src="../static/img/vida.avif" class="card-img-top lazyload" alt="Vida Sustentável" width="300" height="auto">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ _('My design portfolio') }}</h3>
                                            <p class="card-text">{{ _('Work developed in my CET, using techniques like, Adobe Illustrator, Adobe Photoshop, Adobe After Effects, Adobe Premier, Photography and 3ds Max. The language I selected to present my work was Portuguese.') }}</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://marianaplacito.wixsite.com/website-1" target="_blank" aria-label="Find more about on wix" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ _('Previous') }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ _('Next') }}</span>
                    </button>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
        </section>
        
        <section id="contact" class="pt-5 pb-5">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0 location" data-anime="up">
                            <div class="address">
                                <h3><i class="bi bi-geo-alt"></i><span>{{ _('Location:') }}</span></h3>
                                <p id="location">Bajouca, Leiria</p>
                            </div>
                            <div class="email">
                                <h3 id="email-title"><i class="bi bi-envelope"></i><span>{{ _('Email:') }}</span></h3>
                                <p>mariana.placito@gmail.com</p>
                            </div>
                            <iframe title="mapsLocation" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24489.190832720324!2d-8.800835852293448!3d39.8932994545461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd226c7793b13f8f%3A0x500ebbde490c100!2sBajouca!5e0!3m2!1spt-PT!2spt!4v1715612633728!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card p-5 h-100 shadow border-0" data-anime="right">
                            <div  class="d-flex justify-content-between">
                                <h2 id="contact-title" class="pt3 pb-3" >{{ _('Contact') }}</h2>
                                <!-- Alert container -->
                                <div id="alert-container" class="alert-div"></div>
                            </div>
                            <form id="contact-form" class="row g-3 mt-2" action="/send" method="POST">
                                <div class="col-md-6">
                                <label id="label-name" for="name" class="form-label">{{ _('Name:') }}</label>
                                <input type="text" class="form-control" id="name" autocomplete="given-name" name="name" placeholder="{{ _('Write your name') }}...">
                                </div>
                                <div class="col-md-6">
                                <label id="label-email" for="email" class="form-label">{{ _('Email:') }}</label>
                                <input type="email" class="form-control" id="email" autocomplete="given-email" name="email" placeholder="{{ _('Write your email') }}...">
                                </div>
                                <div class="col-12">
                                    <label id="label-message" for="message" class="form-label">{{ _('Message:') }}</label>
                                    <textarea class="form-control" id="message" name="message" autocomplete="given-message" required minlength="4" maxlength="10" size="10" rows="10" placeholder="{{ _('Write your message') }}..."></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                <button id="btn-send" type="submit" class="btn btn-outline-primary" >{{ _('Send') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
    <!-- Defer non-critical JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
</html>
