<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000">
    <meta name="description" content="Author: M.P. Author, my portfolio is a landing page with 6 sections">
    <meta name="robots" content="index, follow">
    <title>{{ _('Privacy Policy') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
</head>
<body>
    <div class="terms-box">
        <div class="container pt-5">
        <h1>{{ _('Privacy Policy') }}</h1>
        <br />
        <h2 >{{ _('Introduction') }}</h2>
        <p>{{ _('Your privacy is important to us. This privacy policy explains what information we collect, how we use it, and your rights in relation to it.') }}</p>
        
        <h2>{{ _('Information We Collect') }}</h2>
        <p>{{ _('We collect information to provide better services to our users. This includes:') }}</p>
        <ul>
            <li><strong>{{ _('IP Addresses:') }}</strong> {{ _('We track IP addresses to improve the security and performance of our service.') }}</li>
        </ul>
        
        <h2>{{ _('How We Use Information') }}</h2>
        <p>{{ _('The information we collect is used for:') }}</p>
        <ul>
            <li><strong>{{ _('Security') }}</strong> {{ _('Monitoring and preventing security threats.') }}</li>
            <li><strong>{{ _('Analytics') }}</strong> {{ _('Understanding usage patterns to improve our service.') }}</li>
        </ul>
        
        <h2>{{ _('Data Protection') }}</h2>
        <p>{{ _('We implement appropriate technical and organizational measures to protect the information we collect.') }}</p>
        
        <h2>{{ _('Changes to This Policy') }}</h2>
        <p>{{ _('We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.') }}</p>
        
        <h2>{{ _('Contact Us') }}</h2>
        <p>{{ _('If you have any questions about these terms, please contact us at ') }}<strong>mariana.placito@gmail.com</strong>.</p>
        <!-- Button to go back to the home page -->
        <a href="{{ url_for('home') }}" class="btn-back btn btn-primary">{{ _('Back to Home') }}</a>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </script>
</body>
</body>
</html>
