<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Author: M.P. Author, my portfolio is a landing page with 6 sections">
    <title>{{ _('Terms of Service') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="terms-box">
        <div class="container pt-5">
            <h1>{{ _('Terms of Service') }}</h1>
            <br />
            <h4>{{ _('Introduction') }}</h4>
            <p>{{ _('These terms of service govern your use of our application. By using our application, you agree to these terms.') }}</p>
            
            <h4>{{ _('Use of Data') }}</h4>
            <p>{{ _('By using our application, you agree that we can track your IP address and use it for:') }}</p>
            <ul>
                <li><strong>{{ _('Security purposes:') }}</strong> {{ _('To monitor and prevent security threats.') }}</li>
                <li><strong>{{ _('Analytics purposes:') }}</strong> {{ _('To understand usage patterns and improve our service.') }}</li>
            </ul>
            
            <h4>{{ _('User Responsibilities') }}</h4>
            <p>{{ _('Users are responsible for:') }}</p>
            <ul>
                <li>{{ _('Ensuring that their use of the service complies with all applicable laws and regulations.') }}</li>
            </ul>
            
            <h4>{{ _('Changes to These Terms') }}</h4>
            <p>{{ _('We may update these terms from time to time. We will notify you of any changes by posting the new terms on this page.') }}</p>
            
            <h4>{{ _('Contact Us') }}</h4>
            <p>{{ _('If you have any questions about these terms, please contact us at ') }}<strong>mariana.placito@gmail.com</strong>.</p>
            <!-- Button to go back to the home page -->
            <a href="{{ url_for('home') }}" class="btn-back btn btn-primary">{{ _('Back to Home') }}</a>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/static/sw.js')
                    .then(registration => {
                        console.log('Service Worker registered successfully:', registration);
                    })
                    .catch(error => {
                        console.log('Service Worker registration failed:', error);
                    });
                });
            }
        </script>
</body>
</body>
</html>
